* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/**
 * Generic Styles.
 */
table { 
	width: 100%; 
	border-collapse: collapse; 
}
tr:nth-of-type(odd) { 
	background: #f7f7f9; 
}
th { 
	background: #428bca;
	color: white; 
	font-weight: bold;
	font-size: 12; 
}
td, th { 
	padding: 6px; 
	border: 1px solid #ddd; 
	text-align: left; 
}
/**
 * Itemized Styles Customisation.
 */
tr td:before {
	left: 6px;
}

